In [3]:
import pandas as pd

In [12]:
eor_contracts = pd.read_csv('seeds/eor_contracts_activated.csv')
mpg.head()

/var/folders/m0/bkp4jvm93kxcx041sspss5h40000gp/T/ipykernel_4481/3838174566.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM pilarmoguel.analysis_agg_layer': relation "pilarmoguel.analysis_agg_layer" does not exist
LINE 1: SELECT * FROM pilarmoguel.analysis_agg_layer
                      ^

In [8]:
new_conn()
query = "SELECT * FROM analysis_agg_layer"

AttributeError: module 'dbt' has no attribute 'project'

In [6]:
print(query)

SELECT * FROM analysis_agg_layer